*{
    font-family: 'Open Sans', sans-serif;
}

:root {
    --primary: #c5a880;
    --secondary: #222224;
    --light: rgb(247, 247, 247);
}

/* ************************************banner************************************ */

.banner-content{
    z-index: 2;
}
.hotel-name{
    width: 100%;
}
/* ************************************services************************************ */

.header{
    color: var(--primary);
    letter-spacing: 2px;
}

h1 {
    font-weight: 700;
}

.services{
    background: var(--light);
}

.service-icon{
    font-size: 70px;
}
.cta {

}
.icon{
    color: var(--primary);
    background: rgb(255, 255, 255);
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    border-bottom-right-radius:50%;
    border-bottom-left-radius:0%;
    box-shadow: 0 4px 8px 0 rgba(190, 190, 190, 0.1), 0 6px 20px 0 rgba(190, 190, 190, 0.19);
}

.icon:hover{
    background: var(--primary);
    color: white;
}

/* ************************************massage************************************ */

.massage{
    background:var(--secondary) ;
}

/* ************************************contact us************************************ */

.icon-footer{
    background: var(--primary);
    border-radius: 50%;
    margin-right: 20px;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.address{
    padding: 10px 0px;
}

.mapBox{
    width: 100%;
    height: 100%;
}

/* ************************************footer************************************ */

.footer-bg{
    background: #1a1a1a;
}




.pure-material-button-contained {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    padding: 8px 20px;
    min-width: 64px;
    height: 55px;
    vertical-align: middle;
    text-align: center;
    text-overflow: ellipsis;
    text-transform: uppercase;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    font-family: var(--pure-material-font, "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system);
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.2s;
    background-image: linear-gradient(to right, #6253e1, #852D91);
    border-radius: 35px;
}

.pure-material-button-contained::-moz-focus-inner {
    border: none;
}

/* Overlay */
.pure-material-button-contained::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transition: opacity 0.2s;
}

/* Ripple */
.pure-material-button-contained::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    padding: 50%;
    width: 32px; /* Safari */
    height: 32px; /* Safari */
    background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pure-material-button-contained:hover,
.pure-material-button-contained:focus {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:hover::before {
    opacity: 0.08;
}

.pure-material-button-contained:focus::before {
    opacity: 0.24;
}

.pure-material-button-contained:hover:focus::before {
    opacity: 0.3;
}

/* Active */
.pure-material-button-contained:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pure-material-button-contained:active::after {
    opacity: 0.32;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0s;
}

/* Disabled */
.pure-material-button-contained:disabled {
    color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.38);
    background-color: rgba(var(--pure-material-onsurface-rgb, 0, 0, 0), 0.12);
    box-shadow: none;
    cursor: initial;
}

.pure-material-button-contained:disabled::before {
    opacity: 0;
}

.pure-material-button-contained:disabled::after {
    opacity: 0;
}

/* ************************************media Query************************************ */

/* ******************banner********************** */

@media (min-width: 0px) and (max-width: 575px) { 
    .name{
        font-size: 12px;
        margin-bottom: 5px;
    }
    .hotel-name{
        font-size: 19px;
    }
    .hotel-number{
        font-size: 16px;
    }

   /* ******************Services********************** */

   .header{
    font-size: 10px;
   }
    .tittle{
        font-size: 20px;
    }
    .service-icon{
        font-size: 25px;
    }
    .icon{
        margin-bottom: 10px;
    }
    .icon-text{
        font-size: 13px;
    }
    .contact-tittle{
        font-size: 15px;
    }
    .contact-details{
        font-size: 15px;
    }
    .Contact{
        font-size: 25px;
    }
    .Contact-content{
        font-size: 13px;
    }
    .icon-footer{
        margin-right: 20px;
        height: 60px;
        width: 60px;
    }
    .address{
        padding: 0px 0px;
    }
    .address-head{
        font-size: 12px;
    }
    .address-content{
        font-size: 12px;
    }
    .mapBox{
        width: 100%;
        height: 300px;
    }
    .pure-material-button-contained {
        font-size: 16px;
    }
}

@media (min-width: 576px) and (max-width: 767px){
.name{
        font-size: 16px;
        margin-bottom: 5px;
    }
    .hotel-name{
        font-size: 31px;
    }
    .hotel-number{
        font-size: 25px;
    }
    .icon{
        margin-bottom: 15px;
    }
    
}
@media (min-width: 768px) and (max-width: 991px){
    .name{
        font-size: 23px;
        margin-bottom: 5px;
    }
    .hotel-name{
        font-size: 41px;
    }
    .hotel-number{
        font-size: 30px;
    }
    .icon{
        margin-bottom: 16px;
    }
    
    .address{
        padding: 5px 0px;
    }
    .address-head{
        font-size: 20px;
    }
    .address-content{
        font-size: 25px;
    }
    .mapBox{
        width: 100%;
        height: 400px;
    }   
    
}

@media (min-width: 992px) and (max-width: 1199px){
    .name{
        font-size: 10px;
        margin-bottom: 5px;
    }
    .hotel-name{
        font-size: 55px;
    }
    .hotel-number{
        font-size: 40px;
    }
    .header{
        font-size: 20px; 
    }
    .tittle{
        font-size: 0px;
    }
    .pure-material-button-contained {
        font-size: 16px;
    }
    
}

