*{
    font-family: 'Open Sans', sans-serif;
}

:root {
    --primary: #c5a880;
    --secondary: #222224;
    --light: rgb(247, 247, 247);
}

/* ************************************banner************************************ */

.banner-content{
    z-index: 2;
}

/* ************************************services************************************ */

.header{
    color: var(--primary);
    letter-spacing: 2px;
}

h1 {
    font-weight: 700;
}

.services{
    background: var(--light);
}

.service-icon{
    font-size: 70px;
}

.icon{
    color: var(--primary);
    background: rgb(255, 255, 255);
    border-top-left-radius:50%;
    border-top-right-radius:50%;
    border-bottom-right-radius:50%;
    border-bottom-left-radius:0%;
    box-shadow: 0 4px 8px 0 rgba(190, 190, 190, 0.1), 0 6px 20px 0 rgba(190, 190, 190, 0.19);
}

.icon:hover{
    background: var(--primary);
    color: white;
}

/* ************************************massage************************************ */

.massage{
    background:var(--secondary) ;
}

/* ************************************contact us************************************ */

.icon-footer{
    background: var(--primary);
    border-radius: 50%;
    margin-right: 20px;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.address{
    padding: 10px 0px;
}

.mapBox{
    width: 100%;
    height: 100%;
}

/* ************************************footer************************************ */

.footer-bg{
    background: #1a1a1a;
}

/* ************************************media Query************************************ */

/* ******************banner********************** */

@media (min-width: 0px) and (max-width: 575px) { 
    .name{
        font-size: 12px;
        margin-bottom: 5px;
    }
    .hotel-name{
        font-size: 20px;
    }
    .hotel-number{
        font-size: 16px;
    }

   /* ******************Services********************** */

   .header{
    font-size: 10px;
   }
    .tittle{
        font-size: 20px;
    }
    .service-icon{
        font-size: 25px;
    }
    .icon{
        margin-bottom: 10px;
    }
    .icon-text{
        font-size: 13px;
    }
    .contact-tittle{
        font-size: 15px;
    }
    .contact-details{
        font-size: 15px;
    }
    .Contact{
        font-size: 25px;
    }
    .Contact-content{
        font-size: 13px;
    }
    .icon-footer{
        margin-right: 20px;
        height: 60px;
        width: 60px;
    }
    .address{
        padding: 0px 0px;
    }
    .address-head{
        font-size: 13px;
    }
    .address-content{
        font-size: 15px;
    }
    .mapBox{
        width: 100%;
        height: 300px;
    }
}

@media (min-width: 576px) and (max-width: 767px){
.name{
        font-size: 16px;
        margin-bottom: 5px;
    }
    .hotel-name{
        font-size: 31px;
    }
    .hotel-number{
        font-size: 25px;
    }
    .icon{
        margin-bottom: 15px;
    }
    
    
}
@media (min-width: 768px) and (max-width: 991px){
    .name{
        font-size: 23px;
        margin-bottom: 5px;
    }
    .hotel-name{
        font-size: 41px;
    }
    .hotel-number{
        font-size: 30px;
    }
    .icon{
        margin-bottom: 16px;
    }
    
    .address{
        padding: 5px 0px;
    }
    .address-head{
        font-size: 20px;
    }
    .address-content{
        font-size: 25px;
    }
    .mapBox{
        width: 100%;
        height: 400px;
    }   
    
}

@media (min-width: 992px) and (max-width: 1199px){
    .name{
        font-size: 10px;
        margin-bottom: 5px;
    }
    .hotel-name{
        font-size: 55px;
    }
    .hotel-number{
        font-size: 40px;
    }
    .header{
        font-size: 20px; 
    }
    .tittle{
        font-size: 0px;
    }
    
}